<br>
<br>
<br>
<br>
<br>
<br>
<br>
<div class="main comment-new col-md-offset-2 col-md-8">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
  </div>
  <div class="form">
    <div class="form-body">
      <div class="form-group">
        <%= form_for @comment do |f| %>
          <div class="form-group">
            <%= f.label :text %>
            <%= f.text_area :text, class: 'form-control' %>
          </div>
          <%= f.hidden_field :topic_id,value: params[:topic_id] %>
          <%=f.hidden_field :user_id,value: current_user.id  %>

          <%= f.submit '投稿', class: 'btn btn-black btn-block' %>
      <% end %>



    </div>
  </div>
</div>
